*.bak
*.iml
*~
.idea
/app/bin
/app/cache
!app/cache/.gitkeep
/app/config/parameters.yml
/app/config/settings
/app/coverage
/app/data
/app/webscripts
/app/logs
/vendor
/web/bundles
/web/res/cached
/web/res/img/sprites
/web/res/js
/web/uploads
