*.bak
*.iml
*~
.idea
app/bootstrap.php.cache
app/bin
app/cache
!app/cache/.gitkeep
app/config/parameters.yml
app/config/settings
app/coverage
app/data
app/webscripts
app/logs
vendor
web/bundles
web/res/img/sprites
web/res/js
