#layout_page {
  .layout-page {
    background: #eef;
    margin-top: .5em;
    padding: 1em;
    & > .breadcrumbs {
      height: 1.5em;
    }
    & > .templates {
      display: none;
    }
  }
  h1.page-title {
    font-size: 1.6em;
    color: #777;
    position: relative;
    margin-bottom: .5em;
  }
}