parameters:
  database_driver:   pdo_mysql
  database_host:     localhost
  database_port:     ~
  database_name:     symfony
  database_user:     root
  database_password: ~

  mailer_transport: smtp
  mailer_host:      localhost
  mailer_user:      ~
  mailer_password:  ~
  mailer_port:      587

  app.title: "iWant iNeed"
  app.name:  "iwin"
  app.defaulthost: %app.name%.test
  app.email.support: support@%app.defaulthost%
  app.email.contact: contact@%app.defaulthost%
  app.email.noreply: noreply@%app.defaulthost%

  secret:            ThisTokenIsNotSoSecretChangeIt

  timezone: "America/New_York"

  werkint_redis_pass: ~

  app.gempath: null

  service.facebook.id: ~
  service.facebook.secret: ~
  service.google.projectid: ~
  service.google.key_browser: ~
  service.google.key_server: ~
  service.google.oauth.id: ~
  service.google.oauth.key: ~
