{# Шаблон создания таска #}
{# @formatter:off #}
{% raw %}
<script type="text/x-twig-template" data-id="iwin-qual-task">
  <div class="create-ad">
    {% include 'iwin-advert-advert-benefits' %}

    <div class="category-container"></div>

    <h2 class="heading">Main information</h2>

    <div class="route-container"></div>

    <section class="main-info">
      <div class="coupon-holder"></div>
    </section>

    <section class="main-info">
      <h2 class="heading">Gallery</h2>

      <div class="message-tip">You can sort images by simply dragging them. - правда работает</div>
      <div class="gallery-container"></div>
    </section>

    <section class="videos">
      <h2 class="heading">Videos</h2>

      <div class="videos-container"></div>
    </section>

    <div class="profile-container"></div>

    <p style="text-align: center;margin-top: 2em"><button type="submit" class="btn advert-save">Save</button></p>
  </div>
</script>
{% endraw %}
{# @formatter:on #}