#page_target {
  .videos input {
    display: inline-block;
    margin: .5em;
    width: 400px;
  }
  .videos-container {
    text-align: center;
  }

  .gallery-container {
    text-align: center;
    li {
      display: inline-block;
      margin: .5em;
      vertical-align: top;
      border: solid 2px black;
      width: 150px;
      height: 150px;
      img {
        max-width: 150px;
        max-height: 150px;
      }

      .drop {
        cursor: pointer;
        background: #ccc;
        width: 150px;
        height: 150px;
      }
    }
  }
}
.tab-content {
  background: #f2f2f2;
}
.coupon-create {
  margin-top: 3em;
  .two-columns-input {
    white-space: nowrap;
    label {
      display: inline-block;
      vertical-align: bottom;
      width: 48%;
      &:first-child {
        margin-right: 4%;
      }
    }
  }
}