{% extends '::page.twig' %}

{% trans_default_domain "IwinAppBundle" %}

{% block title %}
  Create Free
{% endblock %}

{% block page %}
  <div id="page_target"></div>
{% endblock %}

{% block pageTemplates %}
  {{ parent() }}

  {# Шаблон страницы CreateFree #}
  {% include '@IwinApp/Widgets/createFree.twig' %}
  {# Шаблон создания объявления #}
  {% include '@IwinAdvert/Widgets/create.twig' %}
  {# Шаблон создания таска #}
  {% include '@IwinQual/Widgets/create.twig' %}
  {# Шаблон выбора маршрута #}
  {% include '@IwinShared/Widgets/location.twig' %}
  {# Шаблон списка категорий #}
  {% include '@IwinShared/Widgets/category.twig' %}
  {# Шаблон редактирования купона #}
  {# Шаблон списка купонов #}
  {% include '@IwinShared/Widgets/coupon.twig' %}
  {# Шаблон социальных сетей #}
  {% include '@IwinShared/Widgets/social.twig' %}
  {# Шаблон профиля #}
  {# Шаблон создания профиля #}
  {% include '@IwinApp/Widgets/profile.twig' %}
  {# Шаблон галереи изображений #}
  {% include '@IwinShared/Widgets/images.twig' %}
  {# Шаблон галереи видео #}
  {% include '@IwinShared/Widgets/videos.twig' %}
{% endblock %}