{% extends '::page.twig' %}

{% trans_default_domain "IwinAppBundle" %}

{% block title %}
    test
{% endblock %}

{% block page %}
    <div id="map" style="width: 500px; height: 500px"></div>
    <label>Input: <input id="input"></label>
{% endblock %}