{# Шаблон профиля #}
{# @formatter:off #}
{% raw %}
<script type="text/x-twig-template" data-id="iwin-createfree-profile">
  <div class="create-profile">
    {% include 'iwin-advert-advert-benefits' %}

    <div class="profile-container"></div>

    <p style="text-align: center;margin-top: 2em"><button type="submit" class="btn advert-save">Save</button></p>
  </div>
</script>
<script type="text/x-twig-template" data-id="iwin-app-profile">
 <section>
        <h2 class="heading">Contact information</h2>
        <div class="profile-block">
          <div class="left-block">
             <div class="row">
              <input type="text"/>
             </div>
             <div class="row">
               <input type="text"/>
             </div>
             <div class="row">
               <input type="text"/>
             </div>
             <div class="row">
               <input type="text"/>
             </div>
             <div class="row">
               <input type="text"/>
             </div>
          </div>
          <div class="right-block">

          </div>
          <div class="location">
          </div>
          <div class="gallery-container">
            <div class="profile-photo"></div>
          </div>
        </div>
      </section>
  </section>
</script>
{% endraw %}
{# @formatter:on #}